Repository cs-discord-at-ucf/lion, pull requests merged in 2021-06, with the labels that each got.

#435 Tylermathis/pluginsearch
  src/app/plugins/commandsearch.plugin.ts
  src/bootstrap/plugin.loader.ts
Labels: enhancement, plugin

#437 tylermathis/ai/ttt
  src/app/plugins/tictactoe.plugin.ts
Labels: enhancement

#438 Tylermathis/ai/connectfour
  src/app/plugins/connectfour.plugin.ts
Labels: enhancement, plugin

#446 Coin toss or selector
  src/app/plugins/cointoss.plugin.ts
  src/bootstrap/plugin.loader.ts
Labels: enhancement, plugin

#448 Update typescript to 4.3
  package-lock.json
  package.json
Labels: dependencies

#447 Rewrote TA plugin for the DB and prof role
  src/app/plugins/ta.plugin.ts
  src/common/constants.ts
  src/services/storage.service.ts
Labels: plugin

#444 Game Plugin leaderboards
  src/app/plugins/connectfour.plugin.ts
  src/app/plugins/leaderboard.plugin.ts
  src/app/plugins/tictactoe.plugin.ts
  src/bootstrap/container.ts
  src/bootstrap/plugin.loader.ts
  src/common/types.ts
  src/services/gameleaderboard.service.ts
  src/services/storage.service.ts
Labels: enhancement, plugin

#449 Member milestone
  src/app/handlers/membercount.handler.ts
  src/common/types.ts
  src/services/handler.service.ts
  src/services/storage.service.ts
Labels: enhancement, handler

#497 Update and switch to Mongoose MongoDB driver
  package-lock.json
  package.json
  src/app/handlers/membercount.handler.ts
  src/app/plugins/modreport.plugin.ts
  src/app/plugins/storepins.plugin.ts
  src/app/plugins/ta.plugin.ts
  src/bootstrap/plugin.loader.ts
  src/common/types.ts
  src/schemas/class.schema.ts
  src/schemas/games.schema.ts
  src/schemas/moderation.schema.ts
  src/schemas/plugin.schema.ts
  src/schemas/server.schema.ts
  src/services/gameleaderboard.service.ts
  src/services/moderation.service.ts
  src/services/plugin.service.ts
  src/services/storage.service.ts
Labels: dependencies
